.footer.clearfix
  .footer-social
    ul.footer-social-links
      li
        a(href="https://joeyko.github.io", target="_blank") 个人博客
      li
        a(href="https://www.zhihu.com/people/yiheng-yishu-91", target="_blank") 知乎
  .footer-copyrights 
    p © 2020 All rights reserved. JoeyKo.