extends ./layouts/default

block content
  .home-content
    .row.flex-v-align
      .col-md-5.col-sm-12
        .home-avatar
          .hp-inner
      .col-md-7.col-sm-12
        .home-text.hp-left
          h4 前端开发工程师
          h1 Joey Ko
          p 热衷于react.js和node.js开发技术栈并能兼顾PS作图技能的同时认真贯彻工作生活平衡的一只90后程序猿
          .home-buttons
            a.btn.btn-primary(href="mailto:15366039985@163.com") 邮件联系
  .projects
    .block-title
      h2 个人项目
      .row
        .col-md-6.col-sm-12
          .lm-info-block
            h4 
              a(href="https://zhihu.now.sh", target="_blank") Zhihu
            p "仿知乎用户端" in progressing...
        .col-md-6.col-sm-12
          .lm-info-block
            h4 
              a(href="https://zhihu-admin.now.sh", target="_blank") Zhihu-admin
            p "仿知乎用户端"的后台管理端 in progressing...
        .col-md-6.col-sm-12
          .lm-info-block
            h4 
              a(href="https://github.com/JoeyKo/zhihu-server", target="_blank") Zhihu-server
            p "仿知乎用户端"的后台API in progressing...
    .block-title
      h2 联系方式
      p 手机号: 17321194270
      p 微信号: joeyko999
      p 邮箱地址: 15366039985@163.com