extends ./layouts/default

block content
  .home-content
    .row.flex-v-align
      .col-md-5
        .home-avatar
          .hp-inner
      .col-md-7
        .home-text.hp-left
          h4 前段开发工程师
          h1 Joey Ko
          p 个人简介 blabla 个人简介 blabla 个人简介 blabla 个人简介 blabla 个人简介 blabla 
          .home-buttons
            a.btn.btn-primary(href="mailto:15366039985@163.com") 联系我 !!!
  .projects
    .block-title
      h2 个人项目
      .row
        .col-md-6
          .lm-info-block
            h4 
              a(href="https://zhihu.now.sh", target="_blank") Zhihu
            p blablabla
        .col-md-6
          .lm-info-block
            h4 
              a(href="https://zhihu-admin.now.sh", target="_blank") Zhihu-admin
            p blablabla
        .col-md-6
          .lm-info-block
            h4 
              a(href="https://github.com/JoeyKo/zhihu-server", target="_blank") Zhihu-server
            p blablabla